body {
	background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #828282 100%);
}

@font-face {
    font-family:"Tatida_Rocking";
    src:url("fonts/tatida/Tatida_Rocking.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"october_crow";
    src:url("fonts/october_crow/October Crow.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

#container {
	padding-top: 100px;
	font-family: "Tatida_Rocking";
	text-align: center;
	font-size: 80px;
}